*{
    background-color: #c4ac84;
}

.search {
--padding: 14px; 

    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
}

.search:focus-within {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.5);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: green; 
}

.section1 {
    background-color: #c4ac84;
}

.section2 {
    background-color:burlywood;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.section2 a {
    background-color: papayawhip ;
    text-decoration: none;
    color: black;
}

.section3 {
    background-color:orange;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

img {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: start;

}



a {
    flex-direction: row;
}

.wonder{
    border-width: 100%;
    border-radius: 15px;
    font-size: 70px;
    border-color: aqua;
    font-family: 'Times New Roman', Times, serif;
    color: green;
}

.wonder:hover {
    color: orange;
    transition: 1ms;
    transform: rotateZ (180deg);
}
